.navbar {
  &__menu-btn {
    border: none;
  }

  &__logo-icon {
    color: red;
  }

  &__nav-link {
    text-decoration: none;
    line-height: 20px;
    color: #898989;
    display: flex;
    gap: 13px;
  }
}

.active {
  color: #ff0000;
}
